!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Brain Tumor Detection and Prediction - Image Upload</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <!-- Additional CSS Files -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/font-awesome.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/fullpage.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/owl.carousel.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/animate.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/templatemo-style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/responsive.css') }}"
    />
    
  </head>

  <body>
    <div id="video">
      <div class="preloader">
        <div class="preloader-bounce">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <header id="header">
        <div class="container-fluid">
          <div class="navbar">
            <a href="{{ url_for('home') }}" id="logo" title="XAI">brainAI</a>
            <div class="navigation-row">
              <nav id="navigation">
                <button type="button" class="navbar-toggle">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="nav-box navbar-collapse">
                  <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                    <li data-menuanchor="slide01" class="active">
                      <a href="#slide01">Home</a>
                    </li>
                    <li data-menuanchor="slide02">
                      <a href="#slide02">Upload Images</a>
                    </li>
                    
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>

      <!-- Video Background -->
      <video autoplay muted loop id="myVideo">
        <source src="static/images/video_bg.mp4" type="video/mp4" />
      </video>

      <div id="fullpage" class="fullpage-default">
        <!-- Home Section -->
        <div class="section animated-row" data-section="slide01">
          <div class="section-inner">
            <div class="welcome-box">
              <h1 class="welcome-title animate" data-animate="fadeInUp">Brain Tumor Detection</h1>
              <p></p>
              <p class="animate" data-animate="fadeInUp">
                With the help of our AI model we try to predict the possibility and detect the type of tumor as per your MRI scan upload.
              </p>
              <div class="scroll-down next-section animate data-animate="fadeInUp><img src="images/mouse-scroll.png" alt=""><span>Scroll Down</span></div>

            </div>
          </div>
        </div>

        <!-- Upload Section -->
        <div class="section animated-row" data-section="slide02">
          <div class="section-inner">
            <div class="welcome-box">
              <h1 class="animate" data-animate="fadeInUp">Upload Images</h1>
              <p class="animate" data-animate="fadeInUp">
                Click the button below to upload your image files for analysis.
              </p>
            </div>
           
            <div class="text-center">
              <!-- Button to trigger file input -->
              <button type="button" class="btn btn-primary" id="uploadButton">
                Upload Image
              </button>
            
              <!-- Hidden file input -->
              <form
                id="uploadForm"
                action="/predict"
                method="POST"
                enctype="multipart/form-data"
              >
                <input
                  type="file"
                  id="fileInput"
                  name="file"
                  accept="image/*"
                  style="display: none"
                />
                <!-- Display selected file name -->
                <div id="fileName" style="margin-top: 10px;"></div>
            
                <!-- Submit button -->
                <button type="submit" id="submitBtn" class="btn btn-primary" style="display: none;">
                  Predict
                </button>
              </form>
            </div>
    

              
              

              

            </div>
          </div>
        </div>

       

      <!-- Social Media Icons -->
      <div id="social-icons">
        <div class="text-right">
          <ul class="social-icons">
            <li>
                <a href="https://www.linkedin.com/in/aashna-dogra-aaa93624a/" title="Aashna Dogra"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                  <a href="https://www.linkedin.com/in/medha-agarwal-01b33725a/" title="Medha Agarwal"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/jagriti-gautam-7249b7249/" title="Jagriti Gautam"><i class="fa fa-linkedin"></i></a>
                </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- JavaScript Files -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fullpage.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrolloverflow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.inview.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    
  </body>
</html>